/*code by VaporousCreeper, not me.( https://github.com/VaporousCreeper/BetterDiscord-ThemesAndPlugins/tree/master/Themes/GGO_Kirito ) there are my inspiration :D*/

                       

                                                               /* :) */



/* transparency made to work with gradients */

/* Background Image */
.da-appMount {
	background: var(--background-image);
}

/* removing backgrounds */
.container-2lgZY8, .channels-Ie2l6A, .da-app .layer-3QrUeG, .da-app .layers-3iHuyZ, .da-app .chat-3bRxxu, .da-app .channelTextArea-rNsIhG, .da-app .content-yTz4x3, .da-app .messagesWrapper-3lZDfY, .da-app .chat-3bRxxu form, .da-app .members-1998pB, .da-app .headerBar-UHpsPw, .da-app .standardSidebarView-3F1I7i, .da-app .typing-2GQL18 {
	background: transparent;
}

/* Guild and Top bar transparency */
.theme-dark .wrapper-1Rf91z {
	background:transparent;
	background-image: var(--transparency-1);
}

/* transparency for channels and members list and private channels and left side of settings*/
.container-PNkimc, .privateChannels-1nO12o, .da-app .sidebarRegion-VFTUkN, .da-app .container-3baos1 {
	background: transparent;
	background-image: var(--transparency-2);
}
.theme-dark .container-3baos1, .theme-light .container-3baos1 {
	background: var(--transparency-2);
}
/* chat and top area and other secondary pages */
.da-app .activityFeed-28jde9, .activityFeed-1C0EmJ, .da-app .gameLibrary-TTDw4Y, .da-app .applicationStore-1pNvnv, .da-app #friends, .da-app .contentRegion-3nDuYy, .da-app .noChannel-Z1DQK7, .da-app .container-3gCOGc {
	background: transparent;
	background-image: var(--transparency-3);
}
/* removing color from specific class */
.panels-j1Uci_ {
	background-color: transparent;
}
/* extra for transparency 3 special case */
.themeDark-3Ap_7i, .da-app .chat-3bRxxu {
	background-color: transparent;
	background-image: var(--transparency-3);
}

.typeWindows-1za-n7 {
	background-image: var(--transparency-5);
}

