/* fixados */

.theme-dark {
   
  --background-primary: none;
    --background-secondary: none;
    --background-tertiary: none;
	--background-accent: none;
}


/* Background */
.da-appMount {

  background: var(--lua);
} 


/* cor do bg */
.container-2lgZY8, .channels-Ie2l6A, .da-app .layer-3QrUeG, .da-app .layers-3iHuyZ, .da-app .chat-3bRxxu, .da-app .channelTextArea-rNsIhG, .da-app .content-yTz4x3, .da-app .messagesWrapper-3lZDfY, .da-app .chat-3bRxxu form, .da-app .members-1998pB, .da-app .headerBar-UHpsPw, .da-app .standardSidebarView-3F1I7i, .da-app .typing-2GQL18 {

  background: transparent;
}


/* Guia + Barra do topo */
.theme-dark .wrapper-1Rf91z {

  background:transparent;
	background-image: var(--SemCor1);
}


/* margin do topo + discord logo */
.typeWindows-1za-n7 {

  height: 21px;
    margin-top: 0px;
}


/* Canais + lista de membros + canais privados + lado esquerdo de configurações */
.container-PNkimc, .privateChannels-1nO12o, .da-app .sidebarRegion-VFTUkN, .da-app .container-3baos1 {

  background: transparent;
	background-image: var(--SemCor2);
}


.theme-dark .container-3baos1, .theme-light .container-3baos1 {

  background: var(--SemCor2);
}


/* Chat, topo e áreas secundárias */
.da-app .activityFeed-28jde9, .activityFeed-1C0EmJ, .da-app .gameLibrary-TTDw4Y, .da-app .applicationStore-1pNvnv, .da-app #friends, .da-app .contentRegion-3nDuYy, .da-app .noChannel-Z1DQK7, .da-app .container-3gCOGc {

  background: transparent;
	background-image: var(--SemCor3);
}


/* cor do bg */
.panels-j1Uci_ {

  background-color: transparent;
}


/* Transparência */
.themeDark-3Ap_7i, .da-app .chat-3bRxxu {

  background-color: transparent;
	background-image: var(--SemCor3);
}


.typeWindows-1za-n7 {
	
  background-image: var(--SemCor5);
}


.flexCenter-3_1bcw {
  
  margin-top: 3px;
}


/* Borda de baixo do bd */
.unread-1xRYoj {

  display:none;
}


/* botão margin */
.container-3baos1 {

  margin-bottom: 0px;
}


.base-3dtUhz {
  
  border-radius:0px;
}

